.c-button{
  &__circle {
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #b5b5b5;
    & i{
      line-height: 30px;
    }
    &:disabled{
      color: #cdcdcd;
      box-shadow: none;
      border-bottom: none;
      border-top: solid 2px #fafafa;
    }
  }
  &__square {
    width: 60px;
    height: 27px;
    padding: 2px 0;
    text-align: center;
    text-decoration: none;
    color: $color-dark;
    background: #d6d6d6;
    &:hover{
      @include hover;
    }
    &:disabled{
      color: #cdcdcd;
      box-shadow: none;
      border-bottom: none;
      border-top: solid 2px #fafafa;
      &:hover{
        opacity: 1;
      }
    }
    @include mq('sp') {
      height: 38px;
    }
  }
  &__eye{
    position: absolute;
    top: 0;
    right: 0;
    line-height: 40px !important;
    cursor: pointer;
  }

  &--require{
    background: $color-red;
    color: $color-font-light;
    padding: 2px 4px;
    margin-right: 8px;
    border-radius: 3px;
    font-weight: normal;
    @include mq('sp') {
      font-size: 1.4rem;
    }
  }
}