.p-footer {
    width: 100%;
    text-align: center;
    line-height: 40px;
    background-color: $color-light;
    color: $color-dark;
    margin-top: auto;
    @include mq('sp') {
        font-size: 1.4rem;
    }
}