.p-nav {
  height: 100%;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    margin-right: 24px;
    cursor: pointer;
    &:last-of-type{
      margin-right: 0;
    }
    &:hover {
      @include hover;
    }
    @include mq('sp'){
      margin-right: 16px;
      font-size: 1.4rem;
    }
  }
}

.p-fnav {
  display: none;

  &__items {
    justify-content: center;
  }

  &__item {
    margin-right: 16px;
    line-height: 40px;

    &:last-of-type {
      margin-right: 0;
    }
    &__link {
      text-decoration: none;

    }
  }

  @include mq('tab') {
    display: block;
    color: $color-dark;

  }

}