.l-wrapper {
  &__about{
    background-color: #00acee;
    background-size: cover;
    color: #fafafa;
    margin-left: calc(((100vw - 100%) / 2) * -1);
    margin-right: calc(((100vw - 100%) / 2) * -1);
  }
}